$console-color: #df3a27;
$console-border-color: #2e2e2e;
$full-height: 100vh;
$full-width: 100vw;

$unit: 1rem;

$console-border-width: $unit;
$console-border-radius: $unit * 3;

$big-circle-color: #44b6f9;
